@import url(https://fonts.google.com/specimen/Montserrat);

body {
  background-image: url("images/bg-top.svg"), url("images/bg-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: right top, left bottom;
  font-family: Montserrat;
  background-color: whitesmoke;
  font-size: 15px;
}
/*Slider Part Start*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0.5rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*Slider Part End*/
.title {
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: gray;
  display: flex;
  justify-content: center;
}
.switcher {
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: gray;
  display: flex;
  justify-content: center;
}
.main {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: gray;
  text-align: center;
  font-size: 16px;
}
.plan {
  margin: 0;
  width: 20%;
  border: 1px solid #ffff;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.plan-cost {
  padding: 40px 20px 10px;
  text-align: center;
}
.plan-price {
  font-weight: 600;
  font-size: 3em;
}
.plan-features {
  padding: 0 0 20px;
  list-style: outside none none;
  width: 70%;
}
.plan-features li {
  border-top: 0.2px outset rgba(128, 128, 128, 0.3);
  padding: 8px 5%;
}
.plan-select {
  width: 70%;
  margin: 3rem;
  border: 1px solid #627afe;
  border-radius: 0.5em;
  background: linear-gradient(
    hsl(234, 14%, 74%),
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  padding: 20px;
  text-align: center;
}
.plan-select a {
  text-decoration: none;
  padding: 12px 20px;
  font-size: 0.75em;
  font-weight: 600;
  color: #ffff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-radius: 5px;
}
.featured {
  background: linear-gradient(
    hsl(234, 14%, 74%),
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  color: #ffff;
  margin-top: -1rem;
  margin-bottom: 1rem;
}
.featured .plan-features li {
  border-top: 0.2px outset rgba(255, 255, 255, 0.3);
}
.featured .plan-select {
  background: #ffff;
  margin: 3rem;
  border: 1px solid #ffff;
  border-radius: 0.5em;
  padding: 20px;
  text-align: center;
}
.featured .plan-select a {
  color: #212cca;
  text-decoration: none;
  padding: 12px 20px;
  font-size: 0.75em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-radius: 5px;
}
@media (max-width: 991px) {
  /* Rules for tablets and smaller viewports */
  .main {
    display: block;
    width: 100%;
  }
  .plan {
    width: 100%;
  }
}
@media (max-width: 767px) {
  /* Rules for smartphones only */
  .main {
    display: block;
    width: 100%;
  }
  .plan {
    width: 100%;
  }
}
